.workBalance{
    background-color: rgb(228, 215, 215);
    color:  black;
    /* border: 1px solid black; */
    /* margin-top: 3rem; */
}
.workBalance-container{
    /* border: 1px solid black; */
    width: 80vw;
    margin: auto;
}

.workBalance-container span{
    font-size: 1.1rem;
    font-weight: 200;
}
/* .displayCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 1px solid black; */
