@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    display: flex;
    width: 200%;
    animation: scroll 40s linear infinite;
  }
  
  .flex {
    display: flex;
  }
  
  .gap-60 {
    gap: 15rem;
  }
  